body {
  background-color: #000000;
  padding: 0;
  margin: 0; }
  body .banner {
    width: 80%;
    padding: 20px; }
  body .irForobtn {
    width: 50%; }

@keyframes animacionapar {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

header {
  width: 100%;
  display: flex;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: black;
  border-bottom: 1px solid #968d8d; }
  header .menuRespons {
    display: none; }
  header nav {
    width: 80%; }
    header nav ul {
      display: flex;
      list-style: none; }
      header nav ul li {
        display: inline-block;
        padding: 20px; }
        header nav ul li:hover {
          background-color: #ffffff;
          color: #000000; }
      header nav ul a {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-family: "Anton", sans-serif;
        font-size: 20px; }
        header nav ul a:hover {
          color: inherit; }
  header .div-carr {
    width: 20%;
    display: flex;
    float: left;
    margin: auto; }
    header .div-carr .iconoHeader {
      width: 100%; }

.mainIndex {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: fr fr fr fr fr;
  grid-template-areas: "portadaIndex portadaIndex" "titulo01 titulo01" "producBuscad01 producBuscad02" "titulo02 titulo02" "secc4 secc5"; }
  .mainIndex .portadaIndex {
    width: 100%;
    grid-area: portadaIndex; }
    .mainIndex .portadaIndex .imgSeleccionSemanal {
      width: 100%; }
  .mainIndex .descripPort {
    color: white;
    position: absolute;
    top: 0px 0px 1500px 1500px;
    right: 0;
    height: 100%;
    width: 33%; }
  .mainIndex .titulo01 {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    grid-area: titulo01;
    width: 100%;
    height: 100%; }
    .mainIndex .titulo01 .titulosIndex {
      color: white;
      font-family: 'Anton', sans-serif;
      font-size: 20px;
      text-align: center;
      padding: 20px; }
  .mainIndex .producBuscad01 {
    width: 100%;
    grid-area: producBuscad01; }
    .mainIndex .producBuscad01 .prodLista {
      width: 100%; }
      .mainIndex .producBuscad01 .prodLista .itemProd {
        display: flex;
        width: 100%;
        padding: 15px;
        height: 650px;
        background-color: #2c3e50;
        border: 2px solid; }
        .mainIndex .producBuscad01 .prodLista .itemProd .imgTam {
          width: 50%;
          height: 100%;
          object-fit: cover;
          border: 5px solid; }
        .mainIndex .producBuscad01 .prodLista .itemProd .descripProd {
          display: grid;
          place-items: center;
          margin: 20px;
          width: 100%; }
          .mainIndex .producBuscad01 .prodLista .itemProd .descripProd .tituVenta {
            background-color: #252c33;
            font-family: 'Sniglet', cursive;
            font-size: 16px;
            text-transform: uppercase;
            color: #ffffff;
            padding: 20px;
            width: 100%; }
          .mainIndex .producBuscad01 .prodLista .itemProd .descripProd .btnProd {
            font-size: 24px;
            font-family: 'Mochiy Pop P One', sans-serif;
            font-weight: bold;
            width: 80%;
            padding: 20px;
            margin: auto; }
  .mainIndex .producBuscad02 {
    width: 100%;
    grid-area: producBuscad02; }
    .mainIndex .producBuscad02 .prodLista {
      width: 100%; }
      .mainIndex .producBuscad02 .prodLista .itemProd {
        display: flex;
        width: 100%;
        padding: 15px;
        height: 650px;
        background-color: #2c3e50;
        border: 2px solid; }
        .mainIndex .producBuscad02 .prodLista .itemProd .imgTam {
          width: 50%;
          height: 100%;
          object-fit: cover;
          border: 5px solid; }
        .mainIndex .producBuscad02 .prodLista .itemProd .descripProd {
          display: grid;
          place-items: center;
          margin: 20px;
          width: 100%; }
          .mainIndex .producBuscad02 .prodLista .itemProd .descripProd .tituVenta {
            background-color: #252c33;
            font-family: 'Sniglet', cursive;
            font-size: 16px;
            text-transform: uppercase;
            color: #ffffff;
            padding: 20px;
            width: 100%; }
          .mainIndex .producBuscad02 .prodLista .itemProd .descripProd .btnProd {
            font-size: 24px;
            font-family: 'Mochiy Pop P One', sans-serif;
            font-weight: bold;
            width: 80%;
            padding: 20px;
            margin: auto; }
  .mainIndex .titulo02 {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    width: 100%;
    grid-area: titulo02; }
    .mainIndex .titulo02 .titulosIndex {
      color: white;
      font-family: 'Anton', sans-serif;
      font-size: 20px;
      text-align: center;
      padding: 20px; }
  .mainIndex .secc4 {
    grid-area: secc4;
    width: 100%;
    height: 100%; }
    .mainIndex .secc4 .descripProd {
      display: grid;
      place-items: center;
      width: 100%; }
      .mainIndex .secc4 .descripProd .tituVenta {
        background-color: #252c33;
        font-family: 'Sniglet', cursive;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 20px;
        width: 100%; }
    .mainIndex .secc4 .descripVid {
      display: grid;
      width: 100%; }
  .mainIndex .secc5 {
    grid-area: secc5;
    width: 100%; }
    .mainIndex .secc5 .descripProd {
      display: grid;
      width: 100%; }
      .mainIndex .secc5 .descripProd .tituVenta {
        background-color: #252c33;
        font-family: 'Sniglet', cursive;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 20px;
        width: 100%; }
    .mainIndex .secc5 .galerComd {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      row-gap: 5px;
      column-gap: 5px; }
      .mainIndex .secc5 .galerComd .imgGaler {
        width: 49.6%;
        border-radius: 15px; }
        .mainIndex .secc5 .galerComd .imgGaler:hover {
          opacity: 0.7;
          transition: all 1.5s; }

.imgCarro {
  border-radius: 15px;
  padding: 5px; }

.mainProducs {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: fr fr;
  grid-template-areas: "carrouselConta carrouselConta" "navinterProd mainProd"; }
  .mainProducs .carrouselConta {
    width: 100%;
    display: flex;
    grid-area: carrouselConta; }
    .mainProducs .carrouselConta .apareceTexto {
      position: absolute;
      z-index: 1;
      padding: 40px;
      font-size: 72px;
      font-family: "Anton", sans-serif; }
    .mainProducs .carrouselConta .animacionapar {
      animation-duration: 8s;
      animation-name: animacionapar;
      animation-iteration-count: 1; }
  .mainProducs .navinterProd {
    background-image: url(../images/fondoProd.jpg);
    width: 80%;
    grid-area: navinterProd;
    z-index: inherit; }
    .mainProducs .navinterProd .itemNav {
      width: 100%;
      display: inline-block;
      padding: 0px;
      list-style: none; }
      .mainProducs .navinterProd .itemNav .cateNav {
        width: 100%;
        padding: 20px; }
        .mainProducs .navinterProd .itemNav .cateNav:hover {
          background-color: red; }
      .mainProducs .navinterProd .itemNav a {
        text-decoration: none;
        color: white;
        padding: 20px;
        font-family: "Anton", sans-serif;
        font-size: 20px; }
        .mainProducs .navinterProd .itemNav a:hover {
          color: inherit; }
  .mainProducs .mainProd {
    display: flex;
    flex-wrap: wrap;
    grid-area: mainProd;
    width: 80%; }
    .mainProducs .mainProd .itemProducto {
      width: 25%;
      height: auto;
      background-color: #fff;
      border: 0.9px solid #000000; }
      .mainProducs .mainProd .itemProducto:hover {
        transform: scale(1.3);
        transition: all 0.8s;
        z-index: 1; }
      .mainProducs .mainProd .itemProducto .imgTam {
        width: 100%;
        height: auto; }
      .mainProducs .mainProd .itemProducto .descripJuego {
        padding: 20px; }
        .mainProducs .mainProd .itemProducto .descripJuego .textoProducto {
          color: black; }

.mainContComu {
  display: grid;
  grid-template-columns: fr fr;
  grid-template-rows: repeat(7, fr);
  grid-template-areas: "gr1 gr1" "contenedorTexto contenedorTexto" "contenEnviarFoto contenEnviarFoto" "postularSemanal postularSemanal" "campComentario campComentario" "anuncioSemanal anuncioSemanal" "contComunit contComunit";
  gap: 5px;
  width: 100%; }
  .mainContComu .gr1 {
    text-align: center;
    grid-area: gr1;
    padding: 20px; }
    .mainContComu .gr1 h3 {
      color: #0eb398;
      font-size: 4rem;
      font-family: "Anton", sans-serif;
      line-height: 1;
      text-transform: uppercase; }
  .mainContComu .contenedorTexto {
    width: 100%;
    padding: 20px;
    background-color: #2c3e50;
    grid-area: contenedorTexto; }
    .mainContComu .contenedorTexto .textoContenido {
      color: #ffffff; }
  .mainContComu .contenEnviarFoto {
    width: 100%;
    padding: 20px;
    background-color: #2c3e50;
    grid-area: contenEnviarFoto; }
    .mainContComu .contenEnviarFoto .textoContenido {
      color: #ffffff; }
  .mainContComu .postularSemanal {
    grid-area: postularSemanal;
    width: 100%;
    margin: auto;
    padding: 20px;
    width: 100%; }
    .mainContComu .postularSemanal .conteEnvi {
      width: 50%;
      margin: auto; }
    .mainContComu .postularSemanal p {
      text-align: center;
      color: #0eb398;
      font-size: 4rem;
      font-family: "Anton", sans-serif;
      line-height: 1;
      text-transform: uppercase; }
  .mainContComu .campComentario {
    grid-area: campComentario;
    width: 70%;
    margin: auto;
    padding: 20px; }
    .mainContComu .campComentario p {
      color: #ffffff; }
  .mainContComu .anuncioSemanal {
    display: grid;
    grid-template-columns: fr fr;
    grid-template-rows: auto;
    grid-template-areas: "anuncioTorneo anuncioTorneo" "avisoTorneo avisoTorneo" "avisoTorneo2 avisoTorneo2" "contTable contTable";
    width: 100%; }
    .mainContComu .anuncioSemanal .anuncioTorneo {
      grid-area: anuncioTorneo;
      width: 100%;
      text-align: center; }
      .mainContComu .anuncioSemanal .anuncioTorneo h3 {
        color: #0eb398;
        font-size: 4rem;
        font-family: "Anton", sans-serif;
        line-height: 1;
        text-transform: uppercase; }
      .mainContComu .anuncioSemanal .anuncioTorneo p {
        color: #ffffff; }
    .mainContComu .anuncioSemanal .avisoTorneo {
      width: 100%;
      grid-area: avisoTorneo;
      padding: 20px; }
      .mainContComu .anuncioSemanal .avisoTorneo .tipoTorneo {
        width: 100%;
        text-align: left; }
        .mainContComu .anuncioSemanal .avisoTorneo .tipoTorneo h3 {
          color: #0eb398;
          font-size: 2rem;
          font-family: "Anton", sans-serif; }
        .mainContComu .anuncioSemanal .avisoTorneo .tipoTorneo p {
          color: #ffffff; }
      .mainContComu .anuncioSemanal .avisoTorneo .conteTorn {
        display: flex; }
        .mainContComu .anuncioSemanal .avisoTorneo .conteTorn .itemTorneo {
          width: 100%;
          margin: 20px; }
          .mainContComu .anuncioSemanal .avisoTorneo .conteTorn .itemTorneo img {
            width: 100%; }
          .mainContComu .anuncioSemanal .avisoTorneo .conteTorn .itemTorneo .descripTorneo1 {
            background-color: #2c3e50; }
            .mainContComu .anuncioSemanal .avisoTorneo .conteTorn .itemTorneo .descripTorneo1 p {
              margin: 5px;
              padding: 5px;
              color: #ffffff; }
          .mainContComu .anuncioSemanal .avisoTorneo .conteTorn .itemTorneo:hover {
            opacity: 0.6;
            transform: scale(1.1);
            transition: all 0.8s; }
    .mainContComu .anuncioSemanal .avisoTorneo2 {
      width: 100%;
      grid-area: avisoTorneo2;
      padding: 20px; }
      .mainContComu .anuncioSemanal .avisoTorneo2 .tipoTorneo {
        width: 100%;
        text-align: left; }
        .mainContComu .anuncioSemanal .avisoTorneo2 .tipoTorneo h3 {
          color: #0eb398;
          font-size: 2rem;
          font-family: "Anton", sans-serif; }
        .mainContComu .anuncioSemanal .avisoTorneo2 .tipoTorneo p {
          color: #ffffff; }
      .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn {
        display: flex; }
        .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn .itemTorneo {
          width: 100%;
          margin: 20px; }
          .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn .itemTorneo img {
            width: 100%; }
          .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn .itemTorneo .descripTorneo1 {
            background-color: #2c3e50;
            width: 100%; }
            .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn .itemTorneo .descripTorneo1 p {
              margin: 5px;
              padding: 5px;
              color: #ffffff; }
          .mainContComu .anuncioSemanal .avisoTorneo2 .conteTorn .itemTorneo:hover {
            opacity: 0.6;
            transform: scale(1.1);
            transition: all 0.8s; }
    .mainContComu .anuncioSemanal .contTable {
      width: 100%;
      grid-area: contTable; }
      .mainContComu .anuncioSemanal .contTable h3 {
        text-align: center;
        color: #0eb398;
        font-size: 4rem;
        font-family: "Anton", sans-serif;
        line-height: 1;
        text-transform: uppercase; }
  .mainContComu .contComunit {
    width: 100%;
    grid-area: contComunit; }
    .mainContComu .contComunit .decripCaptu {
      width: 100%; }
      .mainContComu .contComunit .decripCaptu h3 {
        text-align: center;
        color: #0eb398;
        font-size: 4rem;
        font-family: "Anton", sans-serif;
        line-height: 1;
        text-transform: uppercase; }
    .mainContComu .contComunit .conteTorn {
      display: flex; }
      .mainContComu .contComunit .conteTorn .contCap {
        margin: 20px; }
        .mainContComu .contComunit .conteTorn .contCap img {
          width: 100%; }

.mainRegistro {
  background-image: url(../images/fondoregis.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #fff;
  padding: 50px;
  margin: 20px auto 20px auto;
  width: 60%; }
  .mainRegistro .cajasEinputs {
    flex: 0 0 auto;
    width: 80%; }

.mainContac {
  width: 50%;
  background-image: url(../images/fondoContac.jpg);
  background-size: cover;
  margin: 20px auto 20px auto;
  padding: 50px;
  color: #fff; }

footer {
  position: absolute;
  grid-area: footer;
  width: 100%;
  color: white;
  background-color: black;
  border-top: 1px solid #2c2b2b;
  padding: 20px; }
  footer .textofooter {
    text-align: center; }
  footer .ulredes {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px; }
    footer .ulredes .itemredes {
      width: 50%;
      transition: height 2s; }
      footer .ulredes .itemredes .iconsRedes {
        width: 90%;
        transform: scale 2s; }
  footer ul li {
    padding: 15px;
    list-style: none; }
    footer ul li a {
      margin: 20px;
      text-decoration: none;
      color: inherit; }

.tituloAdic {
  letter-spacing: 5px;
  font-size: 26px; }

@media screen and (max-width: 980px) {
  .mainIndex {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(7, fr);
    grid-template-areas: "portadaIndex portadaIndex" "titulo01 titulo01" "producBuscad01 producBuscad01" "producBuscad02 producBuscad02" "titulo02 titulo02" "secc4 secc4" "secc5 secc5"; } }

@media screen and (max-width: 960px) {
  .mainProducs {
    grid-template-columns: fr;
    grid-template-rows: fr fr fr;
    grid-template-areas: "carrouselConta carrouselConta" "navinterProd navinterProd" "mainProd mainProd"; }
    .mainProducs .carrouselConta {
      width: 100%;
      padding: 0px; }
      .mainProducs .carrouselConta .apareceTexto {
        font-size: 24px; }
    .mainProducs .navinterProd {
      position: relative; }
    .mainProducs .mainProd .itemProducto {
      width: 50%; } }

@media screen and (max-width: 960px) {
  .mainComunity {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .galerCom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  header nav {
    display: none; }
  header .menuRespons {
    display: inline;
    padding: 10px; }
    header .menuRespons:after nav {
      display: inline-block; } }
