body {
  background-color: #000000;
  padding: 0;
  margin: 0; }
  body .banner {
    width: 80%;
    padding: 20px; }
    body .banner .apareceTexto {
      position: absolute;
      padding: 40px;
      font-size: 72px;
      z-index: 1;
      font-family: 'Anton', sans-serif; }
    body .banner .animacionapar {
      animation-duration: 8s;
      animation-name: animacionapar;
      animation-iteration-count: 1; }
  body .subirImg {
    background-color: yellow;
    text-align: center;
    color: black; }
  body .contRanking {
    margin: 40px; }

@keyframes animacionapar {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 1; } }

header {
  float: right;
  z-index: 1; }
  header .div-carr {
    width: 100%; }
    header .div-carr .iconoHeader {
      width: 10%;
      float: right;
      margin: 10px; }
    header .div-carr .iconologo {
      width: 10%;
      float: right;
      margin: 10px; }

.mainIndex {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: fr fr fr fr fr;
  grid-template-areas: "portadaIndex portadaIndex" "titulo01 titulo01" "prodLista prodLista" "titulo02 titulo02" "secc4 secc5"; }
  .mainIndex .portadaIndex {
    width: 100%;
    grid-area: portadaIndex; }
    .mainIndex .portadaIndex .imgSeleccionSemanal {
      width: 100%; }
  .mainIndex .descripPort {
    color: white;
    position: absolute;
    top: 0px 0px 1500px 1500px;
    right: 0;
    height: 100%;
    width: 33%; }
  .mainIndex .titulo01 {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    grid-area: titulo01;
    width: 100%;
    height: 100%; }
  .mainIndex .prodLista {
    display: flex;
    grid-area: prodLista;
    width: 100%; }
    .mainIndex .prodLista .itemProd {
      display: flex;
      width: 50%;
      padding: 15px;
      height: 650px;
      background-color: #2c3e50;
      border: 2px solid; }
      .mainIndex .prodLista .itemProd .imgTam {
        width: 50%;
        height: 100%;
        object-fit: cover;
        border: 5px solid; }
      .mainIndex .prodLista .itemProd .descripProd {
        display: grid;
        place-items: center;
        margin: 20px;
        width: 100%; }
        .mainIndex .prodLista .itemProd .descripProd .tituVenta {
          background-color: #252c33;
          font-family: 'Sniglet', cursive;
          font-size: 16px;
          text-transform: uppercase;
          color: #ffffff;
          padding: 20px;
          width: 100%; }
        .mainIndex .prodLista .itemProd .descripProd .btnProd {
          font-size: 24px;
          font-family: 'Mochiy Pop P One', sans-serif;
          font-weight: bold;
          width: 80%;
          padding: 20px;
          margin: auto; }
  .mainIndex .titulo02 {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    width: 100%;
    grid-area: titulo02; }
  .mainIndex .secc4 {
    grid-area: secc4;
    width: 100%;
    height: 100%; }
    .mainIndex .secc4 .descripProd {
      display: grid;
      place-items: center;
      width: 100%; }
      .mainIndex .secc4 .descripProd .tituVenta {
        background-color: #252c33;
        font-family: 'Sniglet', cursive;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 20px;
        width: 100%; }
    .mainIndex .secc4 .descripVid {
      display: grid;
      width: 100%; }
  .mainIndex .secc5 {
    grid-area: secc5;
    width: 100%; }
    .mainIndex .secc5 .descripProd {
      display: grid;
      width: 100%; }
      .mainIndex .secc5 .descripProd .tituVenta {
        background-color: #252c33;
        font-family: 'Sniglet', cursive;
        font-size: 16px;
        text-transform: uppercase;
        color: #ffffff;
        padding: 20px;
        width: 100%; }
    .mainIndex .secc5 .galerComd {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      padding: 5px;
      row-gap: 5px;
      column-gap: 5px; }
      .mainIndex .secc5 .galerComd .imgGaler {
        width: 49.6%;
        border-radius: 15px; }
        .mainIndex .secc5 .galerComd .imgGaler:hover {
          opacity: 0.7; }

.imgCarro {
  border-radius: 15px;
  padding: 5px; }

.mainProducs {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: 20% 70%;
  grid-template-rows: 1fr;
  background-image: url(../images/fondoProd.jpg); }
  .mainProducs .navinterProd {
    width: 80%; }
  .mainProducs .navinterProd ul {
    display: block;
    padding: 0px; }
  .mainProducs .mainProd {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 1em;
    margin: 40px; }

.mainRank {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  margin: 40px; }
  .mainRank .contRanking {
    margin: 20px; }
  .mainRank .navinterProd {
    width: 80%; }
  .mainRank .navinterProd ul {
    display: block;
    padding: 0px; }

.mainContComu {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 5px;
  margin: 5px 5px 50px 50px; }
  .mainContComu .contComunit {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr auto auto auto; }
    .mainContComu .contComunit .contRanking {
      margin: 20px; }
  .mainContComu .galerCom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; }
    .mainContComu .galerCom .imgCom {
      width: 80%;
      height: 100%;
      margin: auto; }

.mainRegistro {
  background-image: url(../images/fondoregis.jpg);
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
  color: #fff;
  padding: 50px;
  margin: 20px auto 20px auto;
  width: 60%; }
  .mainRegistro .cajasEinputs {
    flex: 0 0 auto;
    width: 80%; }

.mainNove {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 5px;
  width: 80%;
  margin: 40px; }

.mainContac {
  width: 50%;
  background-image: url(../images/fondoContac.jpg);
  background-size: cover;
  margin: 20px auto 20px auto;
  padding: 50px;
  color: #fff; }

.mainAyuda {
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 1fr;
  margin: 40px;
  background-color: #2c3e50; }
  .mainAyuda .navinterProd {
    width: 80%; }
  .mainAyuda .navinterProd ul {
    display: block;
    padding: 0px; }
  .mainAyuda .contenAyuda {
    display: grid;
    margin: 40px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr 1fr 1fr; }
  .mainAyuda .caja-1 {
    grid-column: 1 / 3; }
  .mainAyuda .caja-2 {
    grid-column: 1 / 3;
    margin: 20px; }
  .mainAyuda .imgayuda {
    width: 100%; }

footer {
  position: absolute;
  grid-area: footer;
  width: 100%;
  color: white;
  background-color: #414141; }
  footer .textofooter {
    text-align: center; }
  footer .ulredes {
    width: 10%;
    display: flex;
    flex-direction: row;
    margin: auto;
    column-gap: 5px; }
    footer .ulredes .itemredes {
      width: 50%;
      transition: height 2s; }
      footer .ulredes .itemredes .iconsRedes {
        width: 90%;
        transform: scale 2s; }
  footer ul li {
    padding: 15px;
    list-style: none; }
    footer ul li a {
      margin: 20px;
      text-decoration: none;
      color: inherit; }

nav {
  background-color: #292525;
  color: white;
  width: 100%; }
  nav ul {
    display: flex;
    list-style: none; }
    nav ul li {
      display: inline-block;
      padding: 20px; }
      nav ul li:hover {
        background-color: #000000;
        color: inherit; }
    nav ul a {
      text-decoration: none;
      color: #ffffff;
      padding: 20px;
      font-family: 'Anton', sans-serif;
      font-size: 20px; }
      nav ul a:hover {
        color: inherit; }

.titulos {
  color: white;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  text-align: center;
  padding: 20px; }

.tituloAdic {
  letter-spacing: 5px;
  font-size: 26px; }

.imgTam {
  width: 100%;
  height: 100%;
  object-fit: cover; }

@media screen and (max-width: 980px) {
  .mainIndex {
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(5, fr);
    grid-template-areas: "caja1 caja1" "imgSemanal imgSemanal" "vidElecci vidElecci" "prodLista prodLista" "titulo1 titulo1" "caja3 caja3" "caja4 caja4"; } }

@media screen and (max-width: 960px) {
  .mainProducs {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .mainProd {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .mainNove {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .mainComunity {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .galerCom {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  .mainRank {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr; } }

@media screen and (max-width: 960px) {
  nav ul {
    display: none; }
  nav {
    width: 100%; } }
