body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    .banner {
        width: 80%;
        padding: 20px;
    }
    .irForobtn {
        width: 50%;
    }
}

@mixin contenedorProducto {
    width: 25%;
    height: auto;
    background-color: #fff;
    border: 0.9px solid #000000;
}

@mixin etiquetasNav {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: $tipo_letra;
    font-size: 20px;
    &:hover {
        color: inherit;
    }
}

@mixin imagenComunidad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .imgCom {
        width: 80%;
        height: $tamanio;
        margin: auto;
        padding: 20px;
        &:hover {
            transform: scale(1.1);
            transition: all 0.8s;
        }
    }
}

@mixin productosAltaDemanda {
    .prodLista {
        width: $tamanio;
        .itemProd {
            display: flex;
            width: 100%;
            padding: 15px;
            height: 650px;
            background-color: #2c3e50;
            border: 2px solid;
            .imgTam {
                width: 50%;
                height: $tamanio;
                object-fit: cover;
                border: 5px solid;
            }
            .descripProd {
                display: grid;
                place-items: center;
                margin: 20px;
                width: 100%;
                .tituVenta {
                    @include titulosSeccion;
                }
                .btnProd {
                    @include enfatizarTexto;
                    width: 80%;
                    padding: 20px;
                    margin: auto;
                }
            }
        }
    }
}

@mixin imgProducto {
    width: 100%;
    height: auto;
}

@mixin textoArticulos {
    color: $cl_letra;
}

@mixin textoVenta {
    color: black;
}

@mixin titulosSeccion {
    background-color: #252c33;
    font-family: 'Sniglet', cursive;
    font-size: 16px;
    text-transform: uppercase;
    color: $cl_letra;
    padding: 20px;
    width: 100%;
}

@mixin titulos {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
    padding: 20px;
}

@mixin enfatizarTexto {
    font-size: 24px;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-weight: bold;
}

@mixin fondoTitulos {
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
}

@keyframes animacionapar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}