body {
    background-color: #000000;
    padding: 0;
    margin: 0;
    .banner {
        width: 80%;
        padding: 20px;
    }
    .irForobtn {
        width: 50%;
        &:hover {
            transform: scale(1.2);
            transition: all 0.8s;
        }
    }
}

//Navegador de Categorias
@mixin navCategoriasProducto {
    background-image: url(../images/fondoProd.jpg);
    width: 80%;
    grid-area: navinterProd;
    z-index: inherit;
    .itemNav {
        width: 100%;
        display: inline-block;
        padding: 20px;
        list-style: none;
        .cateNav {
            width: 100%;
            padding: 20px;
            &:hover {
                background-color: red;
            }
        }
        a {
            @include etiquetasNav;
        }
    }
}

@mixin contenedorProducto {
    width: 25%;
    height: auto;
    background-color: #fff;
    border: 0.9px solid #000000;
}

@mixin etiquetasNav {
    text-decoration: none;
    color: white;
    padding: 20px;
    font-family: $tipo_letra;
    font-size: 24px;
    text-transform: uppercase;
    &:hover {
        color: inherit;
    }
}

@mixin imagenComunidad {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    .imgCom {
        width: 80%;
        height: $tamanio;
        margin: auto;
        padding: 20px;
        &:hover {
            transform: scale(1.1);
            transition: all 0.8s;
        }
    }
}

@mixin formtColorTitulos {
    text-align: center;
    color: $color_letra_torneo;
    font-size: 4rem;
    font-family: $tipo_letra;
    line-height: 1;
    text-transform: uppercase;
}

//Cajas de texto
@mixin bordesCajasTexto {
    border: PowderBlue 5px solid;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@mixin formatoContenidoCajasTexto {
    width: 60%;
    margin: auto;
    padding: 20px;
    background-color: #2c3e50;
}

@mixin productosAltaDemanda {
    .prodLista {
        width: $tamanio;
        .itemProd {
            display: flex;
            width: 100%;
            padding: 15px;
            background-color: #2c3e50;
            border: 2px solid;
            .imgTam {
                width: 70%;
                height: $tamanio;
                border: 5px solid;
            }
            .descripProd {
                place-items: center;
                margin: 10px;
                width: 100%;
                .tituVenta {
                    @include titulosSeccion;
                    @include formtColorTitulos;
                    font-size: 2rem;
                }
                .plataformJuegos {
                    @include titulosSeccion;
                    margin: 0px 0px 10px 0px;
                    img {
                        transition: transform .2s;
                        &:hover {
                            opacity: 0.7;
                            transform: scale(1.3);
                        }
                    }
                }
                .btnProd {
                    @include formtColorTitulos;
                    font-size: 3rem;
                    color: white;
                }
            }
        }
    }
}

@mixin imgProducto {
    width: 100%;
    height: auto;
}

@mixin textoArticulos {
    color: $cl_letra;
    font-size: 18px;
    text-align: justify;
}

@mixin textoVenta {
    color: black;
}

@mixin titulosSeccion {
    background-color: #252c33;
    font-family: 'Anton', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    color: $cl_letra;
    padding: 20px;
    width: 100%;
}

@mixin contenedorTitulos {
    padding: 20px;
}

@keyframes animacionapar {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}