header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    border-bottom: 1px solid $color_letra_torneo;
    ;
    .menuRespons {
        display: none;
    }
    nav {
        width: 80%;
        margin: 0px;
        ul {
            display: flex;
            list-style: none;
            li {
                display: inline-block;
                padding: 20px;
            }
            a {
                @include etiquetasNav;
                &:focus {
                    background-color: $color_letra_torneo;
                }
                &:hover {
                    color: $cl_letra;
                    background-color: $color_letra_torneo;
                    transition: .4s;
                    border-bottom: 1px solid white;
                }
            }
        }
    }
    .div-carr {
        display: flex;
        padding: 25px;
        bottom: 0;
        right: 0;
        position: absolute;
        .iconoHeader {
            width: $tamanio;
        }
    }
}