header {
    width: 100%;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: black;
    border-bottom: 1px solid rgb(150, 141, 141);
    .menuRespons {
        display: none;
    }
    nav {
        width: 80%;
        ul {
            display: flex;
            list-style: none;
            li {
                display: inline-block;
                padding: 20px;
                &:hover {
                    background-color: $cl_letra;
                    color: $cl_fondo;
                }
            }
            a {
                @include etiquetasNav;
            }
        }
    }
    .div-carr {
        width: 20%;
        display: flex;
        float: left;
        margin: auto;
        .iconoHeader {
            width: $tamanio;
        }
    }
}